<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <header>

    <center>
      <h1>first screen</h1>
    </center><br>

    <h2>Hello World - My first view </h2>
    <p>This is my first view make in Asp.NET core. </p><br>

    <h2>login</h2><br>

    <form action="/dataform" method="POST">

      <div>email:</div>
      <input type="email" name="email">

      <div>name:</div>
      <input type="text" name="name"> <br><br>

      <button>Submit</button>

    </form>

  </header>

</body>

</html>